.register {
  --field-height: 50px;
  --field-width: 358px;
  --field-radius: 25px;

  $colors : (
    "black"  : #000000,
    "light-black"  : #09090b,
    "white"  : #fff,
    "brown" : #7a523e,
    "light-brown" : #cba899,
    "gray" : #71717a,
    "dark-gray" : #B6B6B6,
    "light-gray" : #a9a9a9,
    "red" : #ce001d,
  );
  @include colorCssVars($colors);

  display: flex;
  position: relative;
  min-height: 100vh;
  padding-top: calc(var(--header-height) + 40px);
  justify-content: center;
  align-items: center;
  

  &__content {
  }

  &__title {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    @include adaptivePropertyMobile(font-size, 34, 32);
    line-height: 0.5;
    color: var(--brown);
  }

  &__subtitle {
    text-align: center;
    @include adaptivePropertyMobile(margin-bottom, 40, 60);
    @include adaptivePropertyMobile(font-size, 14, 12);
    line-height: 1.35;
    color: var(--gray);
  }

  &__form {
    & .auth-form__submit {
      margin-top: 60px;
      margin-bottom: 50px;
    }
  }

  &__gap {
    height: 15px;
  }

  &__create-account {
    display: block;
    margin: 0px auto;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    color: var(--gray);
    @media (max-width: 750px) {
      position: absolute;
      bottom: 15px;
      left: 50%;
      translate: -50%;
    };
  }

  &__create-account-link {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--brown);
  }
}

