<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Checklist</title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/checklist.css" />
	</head>
	<body>
		<div class="wrapper">
			@@include("comps/mixins/header.html")
			<main class="main">@@include("comps/pages/checklist/main.html")</main>
			@@include("comps/mixins/footer.html")
		</div>

		<script src="js/base.js"></script>
		<script src="js/checklist.js"></script>
	</body>
</html>
