<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Inspiration</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<link rel="stylesheet" href="/css/base.css" />
	<link rel="stylesheet" href="/css/inspiration.css" />
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__content">
					<div class="header__left">
						<a href="/">About Us</a
						><a href="/inspiration.html">Inspiration</a>
					</div>
					<img src="/icon/inspiration/logo.svg" alt="logo" class="logo" />
					<div class="header__right">
						<a class="header__faq" href="/faq.html">FAQ</a>
						<a href="/profile.html"
							><img src="/icon/inspiration/profile.svg" alt="profile logo"
						/></a>
						<div class="burger-btn"><span></span></div>
					</div>
				</div>
			</div>
		</header>
		<a class="main_article">
			<img class="main_article-bg" src="/img/about_us_1.png" alt="">
			<div class="main_article__container">
				<div class="main_article__container-block">
					<p class="main_article__container-title">The trend for minimalism</p>
					<p class="main_article__container-description">
						Planning your dream wedding is a journey, and we
						are here to be your trusted guide every step of the way.
					</p>
				</div>
				<img class="article_link-svg" src="/icon/inspiration/news_link.svg" alt="link">
			</div>

		</a>
		<img class="inspiration_bg" src="/img/inspiration_bg.png" alt="bg">
		<section class="articles">
			<div class="container">
				<div class="articles__container">

					<a class="article">
						<img class="article-bg" src="/img/article_1.jpg" alt="article">
						<div class="article__container">
							<p class="article-title">
								It's no longer fashionable
								for bridesmaids to have the same dress
							</p>
							<p class="article-description">
								The witness at the wedding has a very special role, she will be
								under the scrutiny of guests, so sometimes girl friends are worried no less than brides.
								You
								need to look beautiful, but at the same time the outfit should be comfortable, and it is
								also important not to overshadow the main star of the evening - the newlywed. How to
								provide
								for all this? We tell you how to choose an evening dress for a wedding bridesmaid, what
								colors and styles are in fashion this season.
							</p>
						</div>
					</a>
					<a class="article">
						<img class="article-bg" src="/img/article_1.jpg" alt="article">
						<div class="article__container">
							<p class="article-title">
								It's no longer fashionable
								for bridesmaids to have the same dress
							</p>
						</div>
					</a>
					<a class="article">
						<img class="article-bg" src="/img/article_1.jpg" alt="article">
						<div class="article__container">
							<p class="article-title">
								It's no longer fashionable
								for bridesmaids to have the same dress
							</p>
							<p class="article-description">
								The witness at the wedding has a very special role, she will be
								under the scrutiny of guests, so sometimes girl friends are worried no less than brides.
								You
								need to look beautiful, but at the same time the outfit should be comfortable, and it is
								also important not to overshadow the main star of the evening - the newlywed. How to
								provide
								for all this? We tell you how to choose an evening dress for a wedding bridesmaid, what
								colors and styles are in fashion this season.
							</p>
						</div>
					</a>
					<a class="article">
						<img class="article-bg" src="/img/article_1.jpg" alt="article">
						<div class="article__container">
							<p class="article-title">
								It's no longer fashionable
								for bridesmaids to have the same dress
							</p>
						</div>
					</a>
					<a class="article">
						<img class="article-bg" src="/img/article_1.jpg" alt="article">
						<div class="article__container">
							<p class="article-title">
								It's no longer fashionable
								for bridesmaids to have the same dress
							</p>
							<p class="article-description">
								The witness at the wedding has a very special role, she will be
								under the scrutiny of guests, so sometimes girl friends are worried no less than brides.
								You
								need to look beautiful, but at the same time the outfit should be comfortable, and it is
								also important not to overshadow the main star of the evening - the newlywed. How to
								provide
								for all this? We tell you how to choose an evening dress for a wedding bridesmaid, what
								colors and styles are in fashion this season.
							</p>
						</div>
					</a>



				</div>
			</div>
		</section>
		<section class="another_articles">
			<div class="container">
				<div class="another_articles__container">
					<!-- Slider main container -->
					<div class="swiper">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<a class="article swiper_article swiper-slide">
								<img class="article-bg" src="/img/another_article.png" alt="article">
								<div class="article__container">
									<p class="article-title">
										It's no longer fashionable
										for bridesmaids to have the same dress
									</p>
								</div>
							</a>
							<a class="article swiper_article swiper-slide">
								<img class="article-bg" src="/img/another_article.png" alt="article">
								<div class="article__container">
									<p class="article-title">
										It's no longer fashionable
										for bridesmaids to have the same dress
									</p>
								</div>
							</a>
							<a class="article swiper_article swiper-slide">
								<img class="article-bg" src="/img/another_article.png" alt="article">
								<div class="article__container">
									<p class="article-title">
										It's no longer fashionable
										for bridesmaids to have the same dress
									</p>
								</div>
							</a>
							<a class="article swiper_article swiper-slide">
								<img class="article-bg" src="/img/another_article.png" alt="article">
								<div class="article__container">
									<p class="article-title">
										It's no longer fashionable
										for bridesmaids to have the same dress
									</p>
								</div>
							</a>
							<a class="article swiper_article swiper-slide">
								<img class="article-bg" src="/img/another_article.png" alt="article">
								<div class="article__container">
									<p class="article-title">
										It's no longer fashionable
										for bridesmaids to have the same dress
									</p>
								</div>
							</a>
							<a class="article swiper_article swiper-slide">
								<img class="article-bg" src="/img/another_article.png" alt="article">
								<div class="article__container">
									<p class="article-title">
										It's no longer fashionable
										for bridesmaids to have the same dress
									</p>
								</div>
							</a>
						</div>

					</div>
					<div class="swiper-scrollbar"></div>
				</div>
			</div>
		</section>
		<footer class="footer">
			<div class="container">
				<div class="footer__content">
					<img src="/icon/inspiration/logo.svg" alt="footer logo" class="footer__logo" />
					<div class="footer__nav">
						<a href="#" class="footer__link">About Us</a><a href="#" class="footer__link">Turnkey wedding
							organization</a><a href="#" class="footer__link">Marriage registration</a><a href="#"
							class="footer__link">Wedding decor and floristry</a><a href="#"
							class="footer__link">Portfolio</a><a href="#" class="footer__link">Testimonials</a><a href="#"
							class="footer__link">Blog</a>
					</div>
					<div class="footer__links">
						<a href="#" class="footer__link">Wedding weekend</a><a href="#" class="footer__link">Locations</a><a
							href="#" class="footer__link">Wedding at Metrapole restaurant</a><a href="#"
							class="footer__link">Wedding in a palace</a><a href="#" class="footer__link">Wedding in
							Konstantinovsky Palace</a>
						<a href="#" class="footer__link">Wedding in BIP Castle</a><a href="#" class="footer__link">Wedding
							in a hotel</a>
					</div>
					<div class="footer__info">
						<a href="tel:+749994597777" class="footer__link">+7 (499) 459-77-77</a>
						<div class="footer__schedule info__elem">
							<p>Пн-Пт с 9:00 до 22:00</p>
							<p>Сб-Вс с 11:00 до 17:00</p>
						</div>
						<div class="footer__place info__elem">
							г. Москва, пр-кт Авиастроителей 78, офис 10
						</div>
						<img class="footer__inst info__elem" src="/icon/inspiration/inst.svg" />
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script>
		const swiper = new Swiper('.swiper', {
			// Optional parameters
			direction: 'horizontal',
			loop: false,
			slidesPerView: 3,
			spaceBetween: 30,

			// If we need pagination
			pagination: {
				el: '.swiper-pagination',
			},

			// Navigation arrows
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},

			// And if we need scrollbar
			scrollbar: {
				el: '.swiper-scrollbar',
			},
			breakpoints: {
				// when window width is >= 320px
				320: {
					slidesPerView: 1,
					spaceBetween: 20
				},
				640: {
					slidesPerView: 2,
					spaceBetween: 40
				},
				840: {
					slidesPerView: 3,
					spaceBetween: 40
				}
			}
		});
	</script>
</body>

</html>