<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		/>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/profile.css" />
		<title>Profile</title>
	</head>
	<body>
		<div class="wrapper">
			@@include("comps/mixins/header.html")
			<main class="main">
				@@include("comps/pages/profile/info.html")
				@@include("comps/pages/profile/counter.html")
				@@include("comps/pages/profile/checklist.html")
				@@include("comps/pages/profile/calculator.html")
				@@include("comps/pages/profile/timetable.html")
			</main>
			@@include("comps/mixins/footer.html")
		</div>

		<script src="js/base.js"></script>
		<script src="js/profile.js"></script>
	</body>
</html>
