.header {
	width: 100%;

	.header__content {
		@include adaptivePropertyMobile(height, 104, 81);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__left {
		display: flex;
		align-items: center;
		gap: 80px;
	}

	.header__right {
		display: flex;
		align-items: center;
		gap: 80px;
	}

	a {
		font-weight: 400;
		font-size: 16x;
		letter-spacing: 0.04em;
		color: #000;
		transition: all 0.3s ease-in-out;
		&:hover {
			font-weight: 400;
			color: #7a523e;
		}
	}

	.burger-btn {
		display: none; /* скрываем бургер на больших экранах */
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
	}

	.burger-line {
		display: block;
		width: 24px;
		height: 2px;
		background-color: #333;
		margin-bottom: 6px;
		transition: transform 0.3s, opacity 0.3s; /* добавляем анимацию */
	}

	.burger-line:last-child {
		margin-bottom: 0;
	}

	@media (max-width: 760px) {
		.burger-btn {
			display: block;
		}

		.header__left {
			display: none;
		}

		.header__faq {
			display: none;
		}

		.header__right {
			display: flex;
			align-items: center;
			gap: 40px;
		}

		.header__content {
			margin: 0 10px;
		}
	}
}
