<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <img src="/icons/logo.svg" alt="footer logo" class="footer__logo" />
      <div class="footer__nav">
        <a href="#" class="footer__link">About Us</a><a href="#" class="footer__link">Turnkey wedding
          organization</a><a href="#" class="footer__link">Marriage registration</a><a href="#"
          class="footer__link">Wedding decor and floristry</a><a href="#"
          class="footer__link">Portfolio</a><a href="#" class="footer__link">Testimonials</a><a href="#"
          class="footer__link">Blog</a>
      </div>
      <div class="footer__links">
        <a href="#" class="footer__link">Wedding weekend</a><a href="#" class="footer__link">Locations</a><a
          href="#" class="footer__link">Wedding at Metrapole restaurant</a><a href="#"
          class="footer__link">Wedding in a palace</a><a href="#" class="footer__link">Wedding in
          Konstantinovsky Palace</a>
        <a href="#" class="footer__link">Wedding in BIP Castle</a><a href="#" class="footer__link">Wedding
          in a hotel</a>
      </div>
      <div class="footer__info">
        <a href="tel:+749994597777" class="footer__link">+7 (499) 459-77-77</a>
        <div class="footer__schedule info__elem">
          <p>Пн-Пт с 9:00 до 22:00</p>
          <p>Сб-Вс с 11:00 до 17:00</p>
        </div>
        <div class="footer__place info__elem">
          г. Москва, пр-кт Авиастроителей 78, офис 10
        </div>
        <img class="footer__inst info__elem" src="/icons/inst.svg" />
      </div>
    </div>
  </div>
</footer>