<header class="header">
	<ul class="header__container container">
		<li class="header__link">
			<a href="/about.html">About Us</a>
		</li>
		<li class="header__link">
			<a href="/inspiration.html">Inspiration</a>
		</li>
		<li class="header__logo">
			<a href="/index.html"><img src="./img/logo.png" alt=""></a>
		</li>
		<li class="header__link">
			<a href="/faq.html">FAQ</a>
		</li>
		<li class="header__link">
			<a href="/profile.html" class="icon">&#xe909;</a>
		</li>
		<button class="header__burger">
			<span></span><span></span><span></span>
		</button>
	</ul>
</header>
<section class="burger">
	<div class="burger__close icon">
		&#xe908;
	</div>
	<ul class="burger__links">
		<li class="burger__link">
			<a href="/about.html">About Us</a>
		</li>
		<li class="burger__link">
			<a href="/inspiration.html">Inspiration</a>
		</li>
		<li class="burger__link">
			<a href="/faq.html">FAQ</a>
		</li>
		<li class="burger__link">
			<a href="https://www.instagram.com" class="icon">&#xe907;</a>
		</li>
	</ul>
</section>